/* src/App.css */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  background-image: url('./assets/background.jpg'); /* נתיב לתמונת הרקע */
  background-size: cover; /* תמונה מכסה את כל המסך */
  background-position: center; /* מיקום התמונה במרכז */
  background-repeat: no-repeat; /* לא לחזור על התמונה */
  background-attachment: fixed; /* תמונת הרקע תישאר במקום */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1em;
  position: fixed; /* מקבע את ה-NavBar */
  top: 0;
  width: 100%;
  z-index: 1000; /* מוודא שה-NavBar יהיה מעל כל האלמנטים האחרים */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1em;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em; /* צמצום הרווחים מסביב לתוכן */
  background-color: rgba(255, 255, 255, 0.8); /* רקע לבן עם פחות שקיפות */
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 5em 1em 1em 1em; /* צמצום המרווחים מסביב והוספת מרווח מעל */
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.footer p {
  margin: 0.5em 0;
}

.footer-links {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

.container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 2em;
  max-width: 800px;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* עיצוב לדגלים */
.flag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.flag-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  width: 150px;
  margin: 1em;
}

.flag-item:hover {
  transform: scale(1.05);
}

.flag-item img {
  width: 100%;
  height: auto;
  display: block;
}

.flag-item span {
  display: block;
  padding: 0.5em;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  font-weight: bold;
  color: #333;
}
